<form
  data-controller="search"
  data-action="submit->search#submit"
  data-search-locale-value="<%= language.code %>"
  class="py-4 w-full flex justify-center"
>
<input type="search" value="<%= @page.title %>" data-search-target="field" class="border border-gray-50 shadow focus:ring-0 focus:outline-none focus:border-gray-50 rounded-lg min-w-[400px] mx-auto" placeholder="<%= t("search") %>">
</form>



<%= turbo_stream_from dom_id(@page) %>

<div id="references" class="sm:grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3">
  <% @page.references.each do |reference| %>
    <%= render "references/item", reference: %>
  <% end %>
</div>

<div class="py-4">
  <div
    class="prose bg-white p-8 w-full max-w-none animate-fade transition !text-gray-600 rounded-lg shadow border border-gray-50"
    data-controller="jump"
    data-action="mouseup->jump#select touchend->jump#select touchmove->jump#hideMneu"
    data-jump-lang-value="<%= @page.language.code %>"
    data-jump-title-value="<%= @page.title %>"
  >
    <div id="body">
      <% if @page.body %>
        <%= render "pages/body", body: @page.body %>
      <% else %>
        <div class="gap-3 flex flex-col">
          <div class="rounded-lg bg-gray-100 h-4 w-full"></div>
          <div class="rounded-lg bg-gray-100 h-4 w-full"></div>
          <div class="flex gap-4">
            <div class="w-2/3 rounded-lg bg-gray-100 h-4"></div>
            <div class="rounded-lg bg-gray-100 h-4 w-1/3"></div>
          </div>
        </div>
      <% end %>
    </div>

    <div
      data-jump-target="menu"
      class="absolute bg-slate-100 p-1 bg-opacity-90 shadow-lg border border-slate-300 rounded animate-fade transition"
      style="visibility: hidden;"
    >
      <a 
        data-turbo="false"
        data-jump-target="jump"
        class="block text-sm py-1 px-2 rounded hover:bg-blue-500 hover:text-white no-underline"
      >
        <%= t("jump") %>
      </a>
      <a
        data-turbo="false"
        data-jump-target="dig"
        class="block text-sm py-1 px-2 rounded hover:bg-blue-500 hover:text-white no-underline"
      >
        <%= t("dig") %>
      </a>
    </div>
  </div>
</div>
